.nav {
  position: absolute;
  float: left;
  width: 80px;
  /* height: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  /* background-color: #fff; */
  bottom: 0;
}
.nav .nav_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: rotate(140deg);
}
.nav .toggle_btn,
.nav_content span a {
  height: 70px;
  width: 70px;
  /* background: #fff; */

  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav .toggle_btn {
  font-size: 30px;
  /* color: #0e2431; */
  z-index: 100;
  cursor: pointer;

  transition: all 0.6s ease;
}

.nav_content span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
  padding-right: 20px;
}
.nav.open .nav_content span {
  transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
  opacity: 1;
}
.nav_content span a {
  text-decoration: none;
  transform: rotate(220deg);
  display: flex;
  flex-direction: column;
}
.nav_content span a i {
  font-size: 24px;
  /* color: #0e2431; */
  transform: rotate(calc(var(--i) * (360deg / -8)));
  opacity: 0.8;
  transition: 0.2s;
}
.nav_content span a:hover i {
  opacity: 1;
}
