@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* width of bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(211, 199, 199);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 199, 199);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(211, 199, 199);
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0d0a0b;
  /* background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%); */
  /* background-color: #111; */
  /* background-color: #000; */

  color: #bbb;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all ease 0.2s;
  /* cursor: pointer; */
}
.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s all ease;

  /* background-color: palevioletred; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  border: none;
  /* outline: none; */
}
input:focus {
  outline: none;
  outline-width: 0;
  outline-color: transparent;
  box-shadow: none !important;
}
/* select {
  border: transparent;
  outline: none;
} */
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.card {
  background: rgba(26, 20, 20, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.avatarWrapper {
  background: rgba(26, 20, 20, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sidebar {
  /* background: rgba(0, 113, 249, 0.25); */
  background: rgba(26, 20, 20, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sTable {
  /* background: rgba(0, 113, 249, 0.25); */
  background: rgba(26, 20, 20, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.24);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  /* border-top-left-radius: 0; */
  /* border-bottom-left-radius: 0; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.subCard {
  background: rgba(0, 113, 249, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 8px;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
